<!-- Sidebar right -->
<div class="c-sidebar__secondary">
   <a class="egaliseur show_sidebar__second close-icon__second" title="Toggle sidebar">
   <span class="bar-4"></span>
   <span class="bar-5"></span>
   </a>
   <aside class="c-aside c-aside_nav__menu">
      <select class="c-sidebar__choose">
         <option value="plat" selected>Plat</option>
         <option value="acoustique">Acoustique</option>
         <option value="classique">Classique</option>
         <option value="country">Country</option>
         <option value="dance">Dance</option>
         <option value="jazz">Jazz</option>
         <option value="newage">New-age</option>
         <option value="pop">Pop</option>
         <option value="vocal">Vocal</option>
         <option value="rock">Rock</option>
         <option value="custom">Custom</option>
      </select>
      <div class="c-sidebar__container">
         <div id="filter" class="o-padding--top">
            <!-- Here be filter sliders -->
         </div>
      </div>
   </aside>
</div>
